.PortfolioWrapper {
  margin-top: 80px;
}

.portfolioCards {
  gap: 30px;
}

.portfolioCards .card {
  width: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.portfolioCards .card .tags {
  position: absolute;
  bottom: -40%;
  left: 5%;
  transition: 0.6s;
  display: flex;
  gap: 12px;
  align-items: center;
}

.portfolioCards .card:hover .tags {
  bottom: 5%;
}

.portfolioCards .card:hover .tags span {
  border-radius: 30px;
  padding: 5px 12px;
  background-color: var(--bg-black);
  color: var(--button-color);
}

.portfolioCards .card img {
  width: 100%;
  border-radius: 8px;
}

.portfolioCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 500px) {
  .portfolioCards {
    grid-template-columns: repeat(1, 1fr);
  }
}
